version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root123
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend_service
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGO_URI: mongodb+srv://allenjestin007:0aK2RuYEYy4gsfe3@cluster0.xxqvrb7.mongodb.net/RedWing
      JWT_SECRET: your_jwt_secret
      NODE_ENV: production
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend_service
    restart: always
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:5000
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  mongo_data:
